doctype html
html
	head
		link(rel='stylesheet', type='text/css', href='/bootstrap/css/bootstrap.css')
		script(type='text/javascript', src='/jquery/jquery.js')
		script(type='text/javascript', src='/bootstrap/js/bootstrap.js')
		script(type='text/javascript', src='/js/site.js')

		block head-links
		title API Client Sample
	body
		.container
			block content
		block body-links
